@model List<ServisKaydi>
@{
    ViewBag.Title = "OperatorunServisleri";
    Layout = "~/Views/Shared/_LayoutPageOperator.cshtml";
}
@using (Html.BeginForm("TeknisyeneServisKaydiGonder", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h3 class="col-md-12">Operatörün Servisleri</h3>
        <table class="table table-dark">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servis ID</th>
                    <th scope="col">ServisNumarası</th>
                    <th scope="col">Müşteri TCNo</th>
                    <th scope="col">Müşteri AdSoyad</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Müşteri Fiyatı OnayladıMı</th>
                    <th scope="col">Servis Durum</th>
                    <th scope="col">Tekniyen Durum</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sayac = 0;
                }

                @foreach (var item in Model)
                {
                    sayac++;
                    <tr>
                        <td scope="row">@sayac</td>
                        <td scope="row">@item.Id</td>
                        <td scope="row">@item.ServisNumarasi</td>
                        <td scope="row">@item.Musteri.TcNo</td>
                        <td scope="row">@(item.Musteri.ApplicationUser.Name + " " + item.Musteri.ApplicationUser.Surname)</td>
                        <td scope="row">@item.Fiyat </td>
                        <td scope="row">@item.MusteriUcretiOnayladiMi </td>
                        <td scope="row">@item.Durumu</td>
                        @if (item.TeknisyenTCNo == null)
                        {
                        <td scope="row"> Teknisyen Atanmamış!</td>
                        }
                        else
                        {
                        <td scope="row">@item.Teknisyen.ApplicationUser.UserName</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>


                    }
