@model List<ServisKaydi>
@{
    ViewBag.Title = "TeknisyeneServisKaydiGonder";
    Layout = "~/Views/Shared/_LayoutPageOperator.cshtml";
}

@using (Html.BeginForm("TeknisyeneServisKaydiGonder", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
{
    if (ViewBag.Teknisyen != null)
    {
        <h4>@ViewBag.ServisNumarasi numarali servis kaydının teknisyeni belirlenmiştir. Teknisyen: @ViewBag.Teknisyen.</h4>
    }
    else
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">

                <h4>Boştaki Teknisyenler...</h4>
                @Html.DropDownListFor(x => x.FirstOrDefault().Teknisyen.userID, (List<SelectListItem>)ViewBag.BosTeknisyenler, new { @class = "form-control" }) <br />
              
            </div>
        </div>
        <div class="row">
            <h3 class="col-md-12">Operatörün Servisleri</h3>
            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Servis ID</th>
                        <th scope="col">ServisNumarası</th>
                        <th scope="col">Müşteri TCNo</th>
                        <th scope="col">Müşteri AdSoyad</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sayac = 0;
                    }

                    @foreach (var item in Model)
                    {
                        sayac++;
                        <tr>
                            <td scope="row">@sayac</td>
                            <td scope="row">@item.Id</td>
                            <td scope="row">@item.ServisNumarasi</td>
                            <td scope="row">@item.Musteri.TcNo</td>
                            <td scope="row">@(item.Musteri.ApplicationUser.Name + " " + item.Musteri.ApplicationUser.Surname)</td>
                            <td scope="row">
                                <button type="submit" class="btn btn-blue bt btn-sm"> GÖNDER</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


                            }
                        }
