@model IletisimMailModel
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}
<div id="content">
    <div class="container">
        <div class="row margin-vert-30">
            <div class="col-md-8">
                <h2 class="headline">İletişim Formu</h2> <br />
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            Aşağıdaki form aracılığıyla bizimle iletişime geçebilirsiniz.
                        </p>
                    </div>
                    @if (ViewBag.Durum == true)
                    {                    <div class="col-md-12">

                        <h4 class="headline text-danger"> Mesajınız Gönderildi.</h4>
                    </div>
                    }
                </div>
                <div class="col-md-10">
                    @using (Html.BeginForm("Iletisim", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>İsim - Soyisim </label> <br />
                                @if (ViewBag.IsimSoyisim != null)
                                {
                                    <input type="text" value="@ViewBag.IsimSoyisim" class="col-md-4 form-control" />

                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.IsimSoyisim, new { @class = "col-md-4 form-control" })
                                }

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Email Adresi</label><br />
                                @Html.TextBoxFor(x => x.EmailAdresi, new { @class = "col-md-4 form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Mesajınızı yazınız... </label><br />

                                @Html.TextAreaFor(x => x.Mesaj, new { @class = "col-md-4 form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-2">
                                <button type="submit" class="btn btn-default">Gönder</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Side Column -->
            <div class="col-md-4">
                <!-- Recent Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">İletişim Bilgilerimiz</h3>
                    </div>
                    <div class="panel-body">
                        <p> Bize gönderdiğiniz mesajlarınız en geç 24 saat içerisinde ekibimiz tarafından cevaplandırılacaktır.</p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa-phone color-primary"></i>(216)555 55 55
                            </li>
                            <li>
                                <i class="fa-envelope color-primary"></i>info@repairservice.com
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- End recent Posts -->
                @*<!-- About -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                    </div>
                    <div class="panel-body">
                        Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                    </div>
                </div>
                <!-- End About -->*@
            </div>
            <!-- End Side Column -->

        </div>

    </div>

</div>


