@model ServisKaydi
@{
    ViewBag.Title = "MusteriServisDetay";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}
<div class="container">
    <div class="row margin-vert-30 col-md-12">

        @using (Html.BeginForm("MusteriServisDetay", "Home"))
            {
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            <h5 class="text-danger"> <b>Servis Numarası: </b> <span style="color:black;"> @Model.ServisNumarasi</span></h5> <br />
                            <h5 class="text-danger"> <b>Eklenme Tarihi: </b> <span style="color:black;"> @Model.EklenmeTarihi.ToShortDateString()</span></h5> <br />
                            <h5 class="text-danger"> <b>Arıza Türü: </b> <span style="color:black;"> @Model.ArizaTuru.TurAdi.ToString()</span></h5> <br />
                            <h5 class="text-danger"> <b>Cihaz Türü: </b> <span style="color:black;"> @Model.CihazModel.ModelAdi.ToString()</span></h5> <br />
                            <h5 class="text-danger"> <b>Marka: </b> <span style="color:black;"> @Model.CihazModel.MarkaAdi</span></h5> <br />
                            <h5 class="text-danger"> <b>Model: </b> <span style="color:black;"> @Model.CihazModel.ModelAdi</span></h5> <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tab-pane active in fade" id="faq">
                        <div class="panel-group" id="accordion">
                            <!-- Faq Item -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-2">
                                        <h4 class="panel-title">
                                            Servis Kaydının Durumu
                                            <span class="pull-right">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-sub-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Servis durumu  <b>"@Model.Durumu"</b> şeklindedir.
                                    </div>
                                </div>
                            </div>
                            <!-- End FAQ Item -->
                            <!-- Faq Item -->
                            <div class="panel panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-3">
                                        <h4 class="panel-title">
                                            Servis Nedeni
                                            <span class="pull-right">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="faq-sub-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Arıza nedeni  <b>"@Model.MusteriArizaTanimi"</b> şeklinde belirtilmiştir.
                                    </div>
                                </div>
                            </div>
                            <!-- End FAQ Item -->
                            <!-- Faq Item -->
                            @if (ViewBag.ServisKaydiDetayList.Count > 0)
                            {

                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-4">
                                            <h4 class="panel-title">
                                                Teknisyen Görüşleri
                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                @foreach (ServisKaydiIslem item in ViewBag.ServisKaydiDetayList)
                                                {
                                                    <li>@item.Aciklama</li>
                                                }
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            }
                            <!-- End FAQ Item -->
                            <!-- Faq Item -->
                            @if (ViewBag.Dosyalar.Count > 0)
                            {
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-5">
                                            <h4 class="panel-title">
                                                Arıza Fotoğraf/ları
                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-sub-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <!-- Thumbs Gallery -->
                                            <div class="col-md-10">
                                                <h3 class="margin-bottom-10">Servis kaydına ait @ViewBag.Dosyalar.Count adet fotoğraf bulunuyor.</h3>
                                                <div class="thumbs-gallery">
                                                    @foreach (Dosya foto in ViewBag.Dosyalar)
                                                    {
                                                        <a class="thumbBox" rel="lightbox-thumbs" href="@foto.DosyaYolu">
                                                            <img src="@foto.DosyaYolu" alt="image1.jpg">
                                                            <i></i>
                                                        </a>
                                                    }
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- End FAQ Item -->
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="panel-group">
                    <h3 class="text-danger"> <b> Ücret: @Model.Fiyat lira </b></h3> <br />
                    @if (Model.Fiyat > 0)
                    {
                        if (Model.Durumu == RepairService.Entity.Enums.ArizaDurum.MusteriOnayiBekleniyor && Model.MusteriUcretiOnayladiMi != true)
                        {
                            @Html.ActionLink("ÜCRETİ ONAYLA", "UcretOnay", "Home", new { id = Model.Id }, new { @class = "btn-green btn btn-lg" }) <br /> <br />
                            <span class="small text-justify">Ücret için onay verdiğiniz zaman faturanız oluşturulabilecek ve  ekibimiz en kısa süre içinde yerinde servis hizmetini gerçekleştirebilecektir.</span>
                        }
                        if (Model.MusteriUcretiOnayladiMi)
                        {
                            <h4 class="text-info">MÜŞTERİ ÜCRETE ONAY VERMİŞTİR..</h4> <br />
                        }
                        if (Model.Durumu == RepairService.Entity.Enums.ArizaDurum.Cozuldu)
                        {
                            @Html.ActionLink("FATURA GÖRÜNTÜLE", "ServisFatura", "Home",new { id = ((Fatura)ViewBag.Fatura).Id }, new { @class = "btn btn-green" })
                        }
                    }
                </div>
            </div>

        }
    </div>
</div>
<!---->
