@model List<ServisKaydi>
@{
    ViewBag.Title = "MusteriServisKayitlari";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}
<div class="container">
    <div class="row margin-vert-30 col-md-12">

        @using (Html.BeginForm("MusteriServisKayitlari", "Home"))
        {
            <!-- Primary Blockquote -->
            <blockquote>
                <p>
                    <em>"Size ait @ViewBag.Total adet servis kaydı bulunmaktadır. </em>
                </p>
                @*<small>
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </small>*@
            </blockquote>
    <!-- End Primary Blockquote -->
            <br />
            <div class="row">
                @for (int i = 0; i < Model.Count; i++)
                {

                    <div class="col-md-4">
                        <!-- Info Panel -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Servis Numarası: @Model[i].ServisNumarasi</h3>
                            </div>
                            <div class="panel-body" style="height:280px; width:290px;">
                                <ul>
                                    <li>
                                        <h5>@Model[i].ArizaTuru.TurAdi bir arıza </h5>
                                    </li>
                                    <li> <h5>Tür: @Model[i].CihazModel.CihazTuru.Tur </h5></li>
                                    <li> <h5> Marka:@Model[i].CihazModel.MarkaAdi  / Model: @Model[i].CihazModel.ModelAdi</h5></li>
                                    <li> <h5>@Model[i].EklenmeTarihi.ToShortDateString() tarihinde oluşturulmuştur. </h5></li>
                                    <span>
                                        @Html.ActionLink("DETAYLARA GİT", "MusteriServisDetay", "Home", new { id = Model[i].Id }, new { @class = "btn btn-blue", style = "width:160px" }) <br /> <br />
                                        @Html.ActionLink("SERVİSİ İPTALET", "MusteriServisIptal", "Home", new { id = Model[i].Id }, new { @class = "btn btn-danger", style = "width:160px" })
                                    </span>
                                </ul>
                               
                            </div>
                        </div>
                        <!-- End Info Panel -->
                    </div>

                }
            </div>
        }
    </div>

    @if (ViewBag.Total > 0)
    {
        <div class="row">
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="@Url.Action("MusteriServisKayitlari", "Home", new { page = ViewBag.Suan - 1 })" id="pageprevius">&laquo;</a></li>
                    @for (int i = 1; i <= (int)ViewBag.ToplamSayfa; i++)
                    {
                        <li>
                            <a href="@Url.Action("MusteriServisKayitlari", "Home", new { page = i })">
                                @i
                            </a>
                        </li>
                    }
                    <li>
                    <li><a href="@Url.Action("MusteriServisKayitlari", "Home", new { page = ViewBag.Suan +1 })" id="pagenext">&raquo;</a></li>
                </ul>
            </div>
        </div>
    }


    @section ScriptsCustomer{
        <script>
    var suan =@ViewBag.Suan;
    var toplam =@ViewBag.ToplamSayfa;
    if (suan == 1)
    {
        $("#pageprevius").removeAttr("href");
    }
    if (suan == toplam)
        $("#pagenext").removeAttr("href");
        </script>
    }
</div>
