@model ServisKaydiViewModel
@{
    ViewBag.Title = "TeknisyenServisDetayIslemi";
    Layout = "~/Views/Shared/_LayoutPageTeknisyen.cshtml";
}


@using (Html.BeginForm("TeknisyenServisDetayIslemi", "Teknisyen", FormMethod.Post, new { @class = "from-horizontal" }))
{
    <!-- Tab v1 -->
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#sample-1a" data-toggle="tab">Bilgiler</a>
            </li>
            <li>
                <a href="#sample-1b" data-toggle="tab">Fotoğraflar</a>
            </li>
            <li>
                <a href="#sample-1c" data-toggle="tab">İşlemler</a>
            </li>
            <li>
                <a href="#sample-1d" data-toggle="tab">Adres Bilgisi</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="sample-1a">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-danger"> <b>Servis Numarası: </b> <span style="color:black;"> @Model.ServisNumarasi</span></h5> <br />
                        <h5 class="text-danger"> <b>Servis ID: </b> <span style="color:black;"> @Model.ServisId</span></h5> <br />
                        <h5 class="text-danger"> <b>Arıza Türü: </b> <span style="color:black;"> @Model.ArizaTurAdi</span></h5> <br />
                        <h5 class="text-danger"> <b>Cihaz Türü: </b> <span style="color:black;"> @Model.CihazTuru</span></h5> <br />
                        <h5 class="text-danger"> <b>Marka: </b> <span style="color:black;"> @Model.CihazMarka</span></h5> <br />
                        <h5 class="text-danger"> <b>Model: </b> <span style="color:black;"> @Model.CihazModel</span></h5> <br />
                        <h5 class="text-danger"> <b>Müşteri Açıklaması: </b> <span style="color:black;"> @Model.musteriArizaTanimi</span></h5> <br />

                        @if (Model.Fiyat > 0)
                        {
                            <h5 class="text-danger"> <b>Servis Ücreti: </b> <span style="color:black;"> @Model.Fiyat</span></h5> <br />
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane fade in" id="sample-1b">
                <!-- Thumbs Gallery -->
                <div class="col-md-10">
                    <h3 class="margin-bottom-10">Servis kaydına ait @Model.FotoUrList.Count() adet fotoğraf bulunuyor.</h3>
                    <div class="thumbs-gallery">
                        @foreach (string foto in Model.FotoUrList)
                        {
                            <a class="thumbBox" rel="lightbox-thumbs" href="@foto">
                                <img src="@foto" alt="image1.jpg">
                                <i></i>
                            </a>
                        }
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade in" id="sample-1c">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.servisNumarasi != null)
                        {
                            <h3 class="text-info"> @ViewBag.servisNumarasi için değişiklikler kaydedilmiştir.</h3> <br />
                            <h5 class="text-danger"> <b>Fiyat: </b> <span style="color:black;"> @Model.Fiyat</span></h5> <br />
                            <h5 class="text-danger"> <b>Teknisyen Açıklaması: </b> <span style="color:black;"> @Model.TeknisyenAciklamasi</span></h5> <br />
                        }
                        else
                        {
                            <h4>Teknisyen açıklaması yazınız...</h4>
                            @Html.TextAreaFor(x => x.TeknisyenAciklamasi, new { @class = "form-control" }) <br />
                            if (Model.Fiyat == 0)
                            {
                                <h4>Servis Ücretini Giriniz...</h4>
                                @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" }) <br /> <br />

                            }
                            @Html.HiddenFor(x => x.ServisId)
                            <button type="submit" class="btn btn-lg btn-blue">DEĞİŞİKLİKLERİ KAYDET</button>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="sample-1d" class="tab-pane fade in">
                <h5 class="text-danger"> <b>Müşteri Telefon: </b> <span style="color:black;"> @Model.Telefon</span></h5> <br />
                <h5 class="text-danger"> <b>Müşteri Açık Adres: </b> <span style="color:black;"> @Model.AcikAdres</span></h5> <br />

                <div id="map">
                </div>
                @Html.HiddenFor(x => x.KonumLat, new { id = "lat" })
                @Html.HiddenFor(x => x.KonumLng, new { id = "long" })


            </div>
        </div>
    </div>
    <!-- End Tab v1 -->
}

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSxepBaABo8eKxMxHGL_eRqVD90opEdQ" type="text/javascript"></script>
<script type="text/javascript">
    var lat = $("#lat").val();
    var long = $("#long").val();
    console.log(lat);
    console.log(lng);
    var latlng = new google.maps.LatLng(lat, long);
    var latcoor = lat;
    var lngcoor = long;
    var options = {
        zoom: 12,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        draggableCursor: "crosshair",
        scrollwheel: true,
        streetViewControl: false
    };
    var map = new google.maps.Map(document.getElementById("map"), options);
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "Müşterinin Konum"
    });


</script>
