@model AnketViewModel
@{
    ViewBag.Title = "AnketeKatil";
    Layout = Layout = "~/Views/Shared/_LayoutPageAnket.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:50px; margin-right:30px; margin-right:30px; margin-bottom:30px;">
        <div class="col-md-12">
            <h4>Ankete katılarak görüşlerinizi bizimle paylaşabilirsiniz...</h4>
            @using (Html.BeginForm("AnketeKatil", "Anket ", FormMethod.Post, new { @class = "form-horizontal", name = "myForm" }))
            {
                int sayac = 0;
                @*<h4 class="text-info">@Model.AnketBaslik </h4> <br />*@
                @Html.Label($"{Model.Servis.ServisNumarasi} numaralı Servis ile ilgili anket soruları aşağıdaki gibidir.", new { @class = "form-control" }) <br />
                foreach (AnketSoru soru in Model.Sorular)
                {
                    sayac++;
                    <div class="questions">
                        <p><b>Soru @sayac)  @soru.SoruMetni </b></p>
                        @foreach (AnketSorusununCevap cevap in soru.AnketSorusununCevapList)
                        {
                            @cevap.CevapMetni <input class="option" type="radio" name="postage" id="@cevap.Id" value=@cevap.CevapPuani /> <br />
                        }
                    </div> <br />
                }
                <br />
                <input type="button" id='next' value="GÖNDER" onlick="sum_values()">
            }
        </div>
    </div>
</div>

<script type='text/javascript'>
    // <![CDATA[
    jQuery(document).ready(function () {

        $('input:radio[name="postage"]').change(function () {
            if ($(this).val() == 'Yes') {
                alert("test");
            }
        });

    });

// ]]>
</script>    